:root {
  --bs-primary: #b4dfef;
  --bs-primary-rgb: 180, 223, 239;
  /* --bs-primary-rgb: 255, 255, 255; */
  --bs-secondary: #031d44;
  --bs-secondary-rgb: 3, 29, 68;
  /* --bs-secondary-rgb: 180, 223, 239; */
  --bs-dark: #000;
  --bs-dark-rgb: 0, 0, 0;
}

.navbar-nav.nav-link {
  background-color: var(--bs-secondary-rgb);
  color: var(--bs-primary);
}
.navbar-nav .nav-item .active,
.navbar-nav
  .nav-link:hover
  .navbar-nav
  .nav-link:focus
  .navbar-nav
  .nav-link:active {
  background-color: var(--bs-primary);
  color: var(--bs-dark);
}

body {
  font-family: Roboto, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

h2,
h4 {
  font-weight: bold;
}

.text-muted {
  font-size: 0.9rem;
}
